
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<head>
    <link href="~/Style/Gridview.css" rel="stylesheet" />
</head>
<section class="home">
    <div class="text">Inventory</div>
    
    <table>
        <thead>
            <tr>
                <th>NAME</th>
                <th>DESC</th>
                <th>CAT</th>
            </tr>
        </thead>
        <tbody><tr>
            <td>
                </td></tr></tbody>
    </table>
</section>

