:root {
    --blue-color: #0c2f54;
    --dark-color: #535b61;
    --white-color: #fff;
}

.main--content {
    position: relative;
    width: 90%;
    padding: 1rem;
}

.tabular--wrapper {
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.table-container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 15px;
    text-align: left;
}

tbody {
    background: #f2f2f2;
}

td {
    padding: 15px;
    font-size: 14px;
    color: #333;
}

ul .ul-group {
    list-style-type: none;
}

    ul .ul-group li {
        margin: 2px 0;
    }

/* text colors */
.text-dark {
    color: var(--dark-color);
}

.text-blue {
    color: var(--blue-color);
}

.text-end {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: left;
}

.text-bold {
    font-weight: 700;
}
/* hr line */
.hr {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}
/* border-bottom */
.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
    font-size: 14px;
}

.invoice-wrapper {
    overflow: auto;
    display: none;
    z-index: 1;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
}

    .invoice-wrapper.show {
        position: absolute;
        width: 100%;
        top: 0;
    }

.invoice {
    max-width: 850px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--white-color);
    padding: 70px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-height: 920px;
}

.invoice-head-top-left img {
    width: 130px;
}

.invoice-head-top-right h3 {
    font-weight: 500;
    font-size: 27px;
    color: var(--blue-color);
}

.invoice-head-middle, .invoice-head-bottom {
    padding: 16px 0;
}

.invoice-body {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}

    .invoice-body table {
        border-collapse: collapse;
        border-radius: 4px;
        width: 100%;
    }

        .invoice-body table td, .invoice-body table th {
            padding: 12px;
        }

        .invoice-body table tr {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .invoice-body table thead {
            background-color: rgba(0, 0, 0, 0.02);
        }

.invoice-body-info-item {
    display: grid;
    grid-template-columns: 80% 20%;
}

    .invoice-body-info-item .info-item-td {
        padding: 12px;
        background-color: rgba(0, 0, 0, 0.02);
    }

.invoice-foot {
    padding: 30px 0;
}

    .invoice-foot p {
        font-size: 12px;
    }

.invoice-btns {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.invoice-btn {
    padding: 3px 9px;
    color: var(--dark-color);
    font-family: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.invoice-head-top, .invoice-head-middle, .invoice-head-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
    .invoice {
        padding: 40px;
    }
}

@media screen and (max-width: 576px) {
    .invoice-head-top, .invoice-head-middle, .invoice-head-bottom {
        grid-template-columns: repeat(1, 1fr);
    }

    .invoice-head-bottom-right {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .invoice * {
        text-align: left;
    }

    .invoice {
        padding: 28px;
    }
}

.overflow-view {
    overflow-x: scroll;
}

.invoice-body {
    min-width: 600px;
}

i.bx.bx-trash {
    width: 30px;
}

button.invoice-btn:hover, button.invoice-btn:active {
    color: black;
    font-weight: bold;
}

.text-green {
    color: green;
    font-weight: bolder;
}

/* CSS for red text */
.text-red {
    color: red;
    font-weight: bolder;
}

.invoice-btn.dropdown {
    position: relative;
    display: inline-block;
}

/* Button styles */
.dropbtn {
    background-color: green;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.invoice-btn.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a.approve:hover {
            background-color: green;
        }

        .dropdown-content a.submit:hover {
            background-color: #2365b6;
        }

        .dropdown-content a.disapprove:hover {
            background-color: #cf0000;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


.exit {
    top: 0;
    position: relative;
    z-index: 9999;
    font-size: 35px;
    float: right;
}
